<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <title>Library</title>
</head>
<body>
    <header>
        <h1>Library</h1>
        <p>A simple web application example.</p>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="{{ url_for('show_book_list') }}">Books</a>
        <a href="">Add book</a>
    </nav>
    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2025: Programmazione Web UNICA</p>
    </footer>

</body>
</html>